<script type="application/ld+json">{
"@context": "http://schema.org",
"@type": "NewsArticle",
"mainEntityOfPage": {
  "@type": "WebPage",
  "@id": "{{site.url}}{{page.url}}"
},
"headline": "{{page.title}}",
"image": {
  "@type": "ImageObject",
  "url": "https:{{page.cover_billede.url}}",
  "height": 500,
  "width": 1140
},
"datePublished": "{{ page.sys.created_at | date "%Y-%m-%dT%H:%M:%S.%L%z" }}",
"dateModified": "{{ page.sys.updated_at | date "%Y-%m-%dT%H:%M:%S.%L%z" }}",
"author": {
  "@type": "Person",
  "name": "Hans Kristoffer"
},
 "publisher": {
  "@type": "Organization",
  "name": "Hans Kristoffer",
  "logo": {
    "@type": "ImageObject",
    "url": "https://hanskris.dk/assets/img/hans_kristoffer-logo.png",
    "width": 342,
    "height": 110
  }
},
"description": "{{page.meta_beskrivelse}}"
}</script>