---
title: Kontakt
permalink: "/kontakt/"
layout: default
description: 
meta_beskrivelse: ABC
cover_image: 
---

 <section class="c c-margin-top grid-center" id="kontakt"><div class="col-9"><h1 class="t-center"><span class="t-italic t-weight-normal">Kontakt </span><span>mig</span></h1><p class="t-center">Du er altid velkommen til at kontakte mig, hvis der er en ting, du tror har bare en smule interesse for mig. Udfyld formularen herunder eller skriv til mig på et af de nedenstående sociale medie.</p><div class="social-container f f-center">{% for link in site.data.social %}
{% if link.show == true %}<a class="link-box social-item f f-center button button-cta" style="background-color: #{{link.color}};" href="{{link.url}}" target="_blank"><i class="fa c-white icon {{link.icon}}"></i><span class="c-white t-tertiary social-title m-none">{{link.title}}</span></a>{% endif %}
{% endfor %}</div></div></section><section class="kontakt-form"><form action="https://api.formbucket.com/f/buk_cbg4CvrgbmGH77KtjNeaTLyE" method="post"><div class="input-row f"><input class="input l-width-50 f-grow" placeholder="NAVN" name="Navn" type="text"/><input class="input l-width-50 f-grow" placeholder="E-MAIL" name="email" type="email"/></div><div class="input-row f"><textarea class="input l-width-100" placeholder="SKRIV DIN BESKED" name="besked"></textarea></div><button class="button button-cta" type="submit"><i class="icon fa fa-paper-plane-o"></i><span>SEND BESKED</span></button></form></section>